<section>

  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <%= date.day %>

    <% meetings.each do |meeting| %>
      <div>
        <%= meeting.name %>
        <%= meeting.start_time %>
      </div>
    <% end %>
  <% end %>

  <%=link_to "uusi", url: new_meeting_path%>

</section>